.associated {
    min-height: 55vh;
    padding: 40px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white; /* Lighter contrast to distinguish from the form background */
    text-align: center;
}

.associated .heading {
    font-weight: 600;
    color: #333;
    margin-bottom: 30px;
}
#associated-heading{
    margin-bottom: 60px;
}
.associated > a {
    margin: 30px;
    padding: 12px 30px;
    background-color: #4880da; 
    color: white;
    border-radius: 5px;
    text-decoration: none;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.associated > a:hover {
    background-color: #4b87e7;
}

.slider {
    max-width: 80%;
    margin: 0 auto;
    background-color: #ffffff;
    display: flex;
    overflow: hidden;
    width: 100%;
    position: relative;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.slide-track {
    display: flex;
    animation: scroll 15s linear infinite;
}

.slide {
    min-width: 190px;
    transition: transform 0.5s ease;
}

.slide img {
    margin: 0 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
}

.slide img:hover {
    transform: scale(1.05);
}

/* Animation for infinite scroll */
@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(calc(-190px * 5));
    }
}

/* Media Queries for Mobile Responsiveness */
@media only screen and (max-width: 768px) {
    .associated {
        padding: 20px;
    }

    .heading {
        font-size: 22px;
    }

    .slider {
        width: 100%;
    }

    .slide img {
        margin: 0 10px;
        width: 150px;
    }

    .slide-track {
        animation: scroll 12s linear infinite;
    }
}

@media only screen and (max-width: 480px) {
    .heading {
        font-size: 18px;
    }

    .associated > a {
        padding: 10px 20px;
        font-size: 14px;
    }

    .slide img {
        width: 120px;
    }
}
